.categories-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

.category {
	cursor: pointer;
	width: 200px;
	height: 40px;
	border-radius: 10px;
	background-color: rgb(246, 246, 246);
	font-family: 'Poppins';
	transition: 0.2s all ease-in-out;
}

.card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.card {
	width: 300px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background: rgb(251, 251, 251);
	color: rgb(0, 0, 0);
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
}

.card-img img {
	width: 250px;
	height: 200px;
}

.card-data {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-data h3 {
	font-weight: 300;
	font-size: 20px;
	font-family: 'Poppins';
}

.card-data p {
	font-size: 16px;
	font-weight: 100;
	color: #c0c0c0;
}

.card-price-add {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.price {
	font-size: 18px;
	font-weight: 600;
}

.add-cart {
	width: 100px;
	height: 50px;
	background-color: rgb(251, 251, 251);
	color: #17adc6;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 600;
	border: 1px solid #17adc6;
	cursor: pointer;
	font-family: 'Poppins';
	transition: 0.5s all ease-in-out;
}

.add-cart:hover {
	background-color: #17adc6;
	color: rgb(251, 251, 251);
	transition: 0.5s all ease-in-out;
}

.btn-ver-mas {
	padding: 10px 35px;
	color: rgb(36, 36, 36);
	height: 50px;
	border-radius: 10px;
	cursor: pointer;
	font-weight: 600;
	font-size: 20px;
	transition: 0.5s all ease-in-out;
}

.btn-ver-mas:hover {
	background: #17adc6;
	color: aliceblue;
	transition: 0.2s all ease-in-out;
}
.hidden {
	visibility: hidden;
}

.activo {
	background-color: #17adc6;
	transition: 0.2s all ease-in-out;
}
