@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Carter+One&family=Dancing+Script&family=Fira+Code:wght@300&family=Montserrat:ital,wght@0,400;0,700;1,400&family=Nabla&family=Noto+Sans:ital,wght@1,500&family=Poppins:ital,wght@1,300&family=Ubuntu:wght@700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

:root {
	--navbar-up: #b4b4b4;
	--navbar-down: #ffffff;
	--text-principal: #6f6f6f;
	--navbar-down-text: rgb(134, 134, 134);
}

html {
	scroll-behavior: smooth;
}

body {
	color: var(--text-principal);
	background-color: var(--fondo);
	width: 100%;
	position: relative;
}

.main {
	max-width: 1200px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.header {
	background: var(--header);
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: sticky;
	top: 0;
	right: 0;
	z-index: 1000;
}

.navbar-up {
	height: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;
	padding: 0 15px;
	margin: 0 16px;
	background-color: var(--navbar-up);
	color: #131415;
}

.navbar-up i {
	border-right: 1px solid black;
	padding: 0 10px;
	font-size: 16px;
}

.navbar {
	height: 100px;
	padding: 0 15px;
	margin: 0 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ababab;
	background: var(--navbar-down);
}

.navbar h1 {
	font-weight: 100;
	font-family: 'Poppins';
}

.navbar > h1 > span {
	font-weight: 700;
}

.navbar-list {
	display: flex;
	align-items: center;
	gap: 20px;
}

.navbar-list a {
	color: var(--navbar-down-text);
	font-weight: 300;
	font-family: 'Poppins';
}

.navbar-list a:hover {
	text-decoration: underline;
}

.message-navbar {
	font-family: 'Poppins';
}
.cart-navbar {
	padding: 0 10px;
	border-left: 1px solid var(--navbar-up);
	cursor: pointer;
}

.fa-sharp {
	visibility: hidden;
	cursor: pointer;
}

.social-navbar {
	margin-left: 100px;
	display: flex;
	gap: 30px;
}

.social-navbar i {
	cursor: pointer;
}

.navbar-up .icon {
	position: relative;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.navbar-up .icon .span {
	position: relative;
	z-index: 3;
	display: flex;
	align-items: center;
}

.icon-message {
	position: absolute;
	font-size: 14px;
	text-align: center;
	top: 0;
	min-width: 250px;
	color: #ffffff;
	background: #131415;
	padding: 10px 20px;
	border-radius: 20px;
	box-shadow: 0 10px 10px rgba (0, 0, 0, 0.2);
	pointer-events: none;
	transition: all 0.5s cubic-bezier(0.68, -0.055, 0.265, 0.155);
	opacity: 0;
}

.icon:hover .icon-message {
	top: 38px;
	opacity: 1;
	pointer-events: auto;
}

.navbar-up .icon .icon-message::after {
	content: '';
	position: absolute;
	height: 16px;
	width: 16px;
	background-color: #131415;
	left: 125px;
	top: -8px;
	transform: translate(-50%) rotate(45deg);
	transition: all 0.5s cubic-bezier(0.68, -0.055, 0.265, 0.155);
}
/* ---------------Seccion 3-------------- */

.section3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	padding: 5rem 1rem;
	width: 100%;
}

.titles-category {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.titles-category h3 {
	font-size: 30px;
	text-align: center;
}

.line-divider {
	width: 100%;
	height: 2px;
	background-color: #ababab;
}

/* -------------Seccion 4 ------------------- */

.own-store {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.mercado-pago {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-top: 30px;
}

.mercado-pago img {
	width: 110px;
	height: 39px;
	border-radius: 10px;
}

.sponsors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sponsors img {
	width: 100px;
	height: 100px;
}

/* -------Foooter-------------------- */

.footer {
	margin-top: 30px;
	padding: 1rem 0;
	background-color: #f7f7f7;
}

.footer-container {
	max-width: 1020px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.footer-store {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.question-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.footer-divider {
	width: 80%;
	height: 2px;
	background-color: #ababab;
}

.sponsors {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	padding: 2rem;
}

.whats-app-logo {
	width: 60px;
	position: fixed;
	right: 8px;
	bottom: 8px;
}
